In [26]:
# 27. Take some single digit numbers from the user and find out min, maximum, sum, average
a=raw_input("Eneter some single digit Numbers: ")
l=[]
for i in a:
    k=int(i)
    l=l+[k]
print "Sum is: ",sum(l)
print "Min Value: ",min(l)
print "Max Value: ",max(l)
length=len(a)
avg=sum(l)/length
print "Average is: ",avg

Eneter some single digit Numbers: 1234
Sum is:  10
Min Value:  1
Max Value:  4
Average is:  2

In [14]:
#28. WAP> 10 -> 000010
#       100 ->  000100
#      1000 ->  001000
#2345678  ->  2345678

a=raw_input("Enter Your Number: ") 
a.zfill(6)

Enter Your Number: 1000

'001000'

In [ ]:
# 29. names  ="emp1,emp2,emp3,emp4" iterate through the employee names.

In [4]:
emp="emp1,emp2,emp3,emp4"
l=emp.split(',')
for i in l:
    print i

emp1
emp2
emp3
emp4

In [11]:
#30. Take actuual string, soucrce string, destination string.
#replce first nth occurances of soucestring with destination string of actual string
s1=raw_input("Enter your String: ")
s2=raw_input("Enter your Sub String: ")
s3=raw_input("Enter Your String for Replace Sub String: ")
n=input("Enter no of occurences you want: ")
s1.replace(s2,s3,n)

Enter your String: abcabcabcabcabc
Enter your Sub String: a
Enter Your String for Replace Sub String: $
Enter no of occurences you want: 2

'$bc$bcabcabcabc'

In [8]:
# 31. Taake numbers from the user and findout min, maximum, sum, average

In [18]:
# 32. l=[10,20,30,[40,50,60],70,[80,90,20]]. Convert this list as sigle dimentiona list
l=[10,20,30,[40,50,60],70,[80,90,20]]
l1=[]
for i in l:
    if type(i) != list:
        l1=l1+[i]
    else:
        l1=l1+i
print l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 20]

In [17]:
# 34. Convert n dimentional list to single dimentiona list.
l=[1,2,[3,[4,5],6],7]
l1=[]
for i in l:
    if type(i) is int:
        l1=l1+[i]
    else:
        l1=l1+i
print l1

[1, 2, 3, [4, 5], 6, 7]

In [ ]:
#33. input: "google" print count of each character
s="google"
for i in s:
    n=s.count(i)
    print "Character "+str(i)+" count is: "+str(n)

In [52]:
# 35. l=[1,2,3] just make it as a string
l=[1,2,3]
s=""
for i in l:
    s=s+str(i)+','
print s.rstrip(',')    
type(s)

1,2,3

str

In [82]:
#36. l=[1,2,3,[4,5,6],7,[8,9,10]] for single dimentional list
l=[1,2,3,[4,5,6],7,[8,9,10]]
l1=[]
for i in l:
    if type(i) is int:
        l1=l1+[i]
    else:
        l1=l1+i
print l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
#37. l=['a','A','b','B','d','D','c','C'] WAP to find out case insensitive count 
#and case insensitive search for an element.
l=['a','A','b','B','d','D','c','C']

l2=[]
for i in l:
    l2=l2+[i.lower()]
    
#case insensitive count
l2.count('a')

2

In [1]:
l=['a','A','b','B','d','D','c','C' , 'F']
#case insensitive search for an element
any(s.lower() == 'a' for s in l)
'f' in l

False

In [ ]:
#38. l=['a','A','b','B','d','D','c','C']  sort the list properly

In [ ]:
#39. find the start position of the largest block of repeated characters in a given string
s=raw_input("Enter your String: ")

In [23]:
#40. WAP to find union and intersection of lists.
# UNION - Method-1
l1=[1,2,3,4]
l2=[3,4,5,6]
list(set(l1+l2))

[1, 2, 3, 4, 5, 6]

In [32]:
# UNION -Method-2
l1=[1,2,3,4]
l2=[3,4,5,6]
l1=set(l1)
l2=set(l2)
list(l1 | l2)

[1, 2, 3, 4, 5, 6]

In [37]:
# Intersection
l1=[1,2,3,4]
l2=[3,4,5,6]
l1=set(l1)
l2=set(l2)
list(l1 & l2)

[3, 4]

In [178]:
# 41. input: fun(5) output: [1,2,3,4,3,2,1]
l1=[]
l2=[]
def fun(a):
    l1= [i for i in range(1,a)]  
    l2=l1
    print l1
    print l2.reverse()
fun(5)

[1, 2, 3, 4]
None

In [5]:
#42.input fun('abc') output: [[],][a],[b],[c],[a,b],[b,c],[c,a],[a,b,c]]
def fun(a):
    print [[i] for i in a]
fun('abc')

[['a'], ['b'], ['c']]

In [8]:
#43. Remove duplicates from the list: a=[1,2,3,2,3,4,1,,3,4]
a=[1,2,3,2,3,4,1,3,4]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print b

[1, 2, 3, 4]

In [11]:
# 44. l=['1','2','3'] get the sum of the list
l=['1','2','3']
l2=map(int,l)
print l2
sum(l2)

[1, 2, 3]

6

In [12]:
#45. l1=[1,2,3,4] l2=[5,6,7,8] sum of two lists
l1=[1,2,3,4]
l2=[5,6,7,8]
sum(l1+l2)

36

In [64]:
# 46. Find third max value of element in a list with soring and without sorting a list.
l=[1,5,3,8,44,22,6]
# Max value without sorting
k=0
print "list without sorting: "+str(l)
for i in range(2):
    k=max(l)
    l.remove(k)
print "Third Max value is : "+ str(max(l))

# Max value with sorting
l2=[1,5,3,8,44,22,6]
l3=sorted(l2)
print "list with sorting: "+str(l3)
for i in range(2):
    k=max(l3)
    l3.remove(k)
print "Third Max value is : "+ str(max(l3))

list without sorting: [1, 5, 3, 8, 44, 22, 6]
Third Max value is : 8
list with sorting: [1, 3, 5, 6, 8, 22, 44]
Third Max value is : 8

In [ ]:
# 47. Input = ["1/1","1/2","1/3","1/4","2/5","2/6","2/8"] Output = [['1/1-4'], ['2/5-6'], ['2/8']]
Input = ["1/1","1/2","1/3","1/4","2/5","2/6","2/8"]

In [233]:
#48. l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4]
# output = [[1, 2, 3], [5], [7, 8, 9, 10, 11, 12, 13], [20], [22, 23, 24, 25, 26, 27], [20, 21, 22], [4]]
l=[1,2,3,5,7,8,9,10,11,12,13,20,22,23,24,25,26,27,20,21,22,4]
l2=[]
for i in l:
    if i==1:
        l2.append(i)
print l2

[1]

In [185]:
#49. input = 1,2,3,4,5,6,8,10 output = odd,even,odd,even,odd,even,even,even
input = 1,2,3,4,5,6,8,10
l=[]
for i in input:
    if i%2 is 0:
        l.append("even")
    else:
        l.append("odd")
print l

['odd', 'even', 'odd', 'even', 'odd', 'even', 'even', 'even']

In [186]:
input = 1,2,3,4,5,6,8,10
s=""
for i in input:
    if i%2 is 0:
        s +="even,"
    else:
        s +="odd,"
print s.strip(',')

odd,even,odd,even,odd,even,even,even

In [184]:
#50. input n=3 
#    output:
#               111
#		        101
#		        111
n=raw_input("Enter Your Number: ")
n=int(n)
s=""
for i in range(n):
    for j in range(n):
        if(j==0 or j==n-1 or i==0 or i==n-1):
            s += "1"+" "
        else:
            s +="0"+" "
    s +="\n"
print s

Enter Your Number: 5
1 1 1 1 1
1 0 0 0 1
1 0 0 0 1
1 0 0 0 1
1 1 1 1 1