In [26]:
# 27. Take some single digit numbers from the user and find out min, maximum, sum, average
a=raw_input("Eneter some single digit Numbers: ")
l=[]
for i in a:
    k=int(i)
    l=l+[k]
print "Sum is: ",sum(l)
print "Min Value: ",min(l)
print "Max Value: ",max(l)
length=len(a)
avg=sum(l)/length
print "Average is: ",avg

Eneter some single digit Numbers: 1234
Sum is:  10
Min Value:  1
Max Value:  4
Average is:  2

In [14]:
#28. WAP> 10 -> 000010
#       100 ->  000100
#      1000 ->  001000
#2345678  ->  2345678

a=raw_input("Enter Your Number: ") 
a.zfill(6)

Enter Your Number: 1000

'001000'

In [ ]:
# 29. names  ="emp1,emp2,emp3,emp4" iterate through the employee names.

In [4]:
emp="emp1,emp2,emp3,emp4"
l=emp.split(',')
for i in l:
    print i

emp1
emp2
emp3
emp4

In [11]:
#30. Take actuual string, soucrce string, destination string.
#replce first nth occurances of soucestring with destination string of actual string
s1=raw_input("Enter your String: ")
s2=raw_input("Enter your Sub String: ")
s3=raw_input("Enter Your String for Replace Sub String: ")
n=input("Enter no of occurences you want: ")
s1.replace(s2,s3,n)

Enter your String: abcabcabcabcabc
Enter your Sub String: a
Enter Your String for Replace Sub String: $
Enter no of occurences you want: 2

'$bc$bcabcabcabc'

In [8]:
# 31. Taake numbers from the user and findout min, maximum, sum, average

In [18]:
# 32. l=[10,20,30,[40,50,60],70,[80,90,20]]. Convert this list as sigle dimentiona list
l=[10,20,30,[40,50,60],70,[80,90,20]]
l1=[]
for i in l:
    if type(i) != list:
        l1=l1+[i]
    else:
        l1=l1+i
print l1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 20]

In [17]:
# 34. Convert n dimentional list to single dimentiona list.
l=[1,2,[3,[4,5],6],7]
l1=[]
for i in l:
    if type(i) is int:
        l1=l1+[i]
    else:
        l1=l1+i
print l1

[1, 2, 3, [4, 5], 6, 7]

In [ ]:
#33. input: "google" print count of each character
s="google"
for i in s:
    n=s.count(i)
    print "Character "+str(i)+" count is: "+str(n)

In [52]:
# 35. l=[1,2,3] just make it as a string
l=[1,2,3]
s=""
for i in l:
    s=s+str(i)+','
print s.rstrip(',')    
type(s)

1,2,3

str

In [82]:
#36. l=[1,2,3,[4,5,6],7,[8,9,10]] for single dimentional list
l=[1,2,3,[4,5,6],7,[8,9,10]]
l1=[]
for i in l:
    if type(i) is int:
        l1=l1+[i]
    else:
        l1=l1+i
print l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
#37. l=['a','A','b','B','d','D','c','C'] WAP to find out case insensitive count 
#and case insensitive search for an element.
l=['a','A','b','B','d','D','c','C']

l2=[]
for i in l:
    l2=l2+[i.lower()]
    
#case insensitive count
l2.count('a')

2

In [1]:
l=['a','A','b','B','d','D','c','C' , 'F']
#case insensitive search for an element
any(s.lower() == 'a' for s in l)
'f' in l

False

In [ ]:
#38. l=['a','A','b','B','d','D','c','C']  sort the list properly

In [ ]:
#39. find the start position of the largest block of repeated characters in a given string
s=raw_input("Enter your String: ")

In [23]:
#40. WAP to find union and intersection of lists.
# UNION - Method-1
l1=[1,2,3,4]
l2=[3,4,5,6]
list(set(l1+l2))

[1, 2, 3, 4, 5, 6]

In [32]:
# UNION -Method-2
l1=[1,2,3,4]
l2=[3,4,5,6]
l1=set(l1)
l2=set(l2)
list(l1 | l2)

[1, 2, 3, 4, 5, 6]

In [37]:
# Intersection
l1=[1,2,3,4]
l2=[3,4,5,6]
l1=set(l1)
l2=set(l2)
list(l1 & l2)

[3, 4]

In [114]:
# 41. input: fun(5) output: [1,2,3,4,3,2,1]
def fun(a):
    print [i for i in range(1,a,-1)]        
fun(5)

[]

[]