In [6]:
#Let us create 4 variable like below.
#Here we no need to specify the data type.Because Python have Dynamic datatyping feature
a=10
b=20
c=a
d=10

In [2]:
#Print statement will simply prints the actual value of that variable which is in the memory
print a,b,c,d

10 20 10 10

In [5]:
# Here Id's of a,c and d are same
#those are pointing or refering to the same object
# In the memorey there are only two objects are creating i.e 10  & 20
# Here 10 is refering by a,c and d. So It's Reference count is 3
# And 20 is refering by only b. So It's Reference count is 1
#Note: Here only Two OBJECTS are created
print id(a),id(b),id(c),id(d)

27922592 27922352 27922592 27922592

In [7]:
#let check with scenario with other data types example list
#So i am creating list l1,l2,l3 and l4 here
l1=[1,2,3,4]
l2=[4,5,6,7]
l3=l1
l4=[1,2,3,4]

In [8]:
print l1,l2,l3,l4

[1, 2, 3, 4] [4, 5, 6, 7] [1, 2, 3, 4] [1, 2, 3, 4]

In [9]:
#Unlike Integers, here totally THREE Objects are created i.e for l1,l2,l4
#Here l1 & l3 are pointing to the same Object in the memory. So list [1,2,3,4] reference count is 2.
#But in case of l4, another duplicate object is creating in the memory. So id(l4) is different with the id(l1) & ID(l3).
# To understand this concept , first we need to know about , Mutable and Immutable concepts

print id(l1),id(l2),id(l3),id(l4)

140362469133416 140362355147696 140362469133416 140362449411248

In [14]:
# IMMUTABLE: 
# Modification of the value is not possible once it allocates the memory for the variable is called Immutable.
# If we try to change the value , then it will creates another OBJECT in the memory, insterd of modifying the existing value.
# Integers are Immutable type
a=100
b=a
c=100
print a,b,c

100 100 100

In [15]:
#Here i am modifying the 'a' value from 100 to 110. 
# So as discussed above, Integer is an Immutable type , so it is not going to modifying the previously assigned value
# Instead it will creates another object in the memory.
# So now a is pointing to 110.
#Note: But here 'b' and 'c' are still pointing to the same object i.e 100. But not 110.
#So here the value of 'a' is not modified. Hence it is an Immutable Type.
a=110
print a,b,c

110 100 100

In [34]:
# Lets check this with Strings
s1="avinash"
s2=s1
s3="avinash"
print s1,s2,s3
print id(s1),id(s2),id(s3)

# Lets modify s1
s1="avinash.k"
print s1,s2,s3
print id(s1),id(s2),id(s3)
# So Strings are also Immutable

avinash avinash avinash
140362354694592 140362354694592 140362354694592
avinash.k avinash avinash
140362353963200 140362354694592 140362354694592

In [16]:
# MUTABLE:
# In Mutable types,Modification of value of the variable assined in the memory is Possibe.
# So when we modify the variable value,It is going to chang the actual value of the variable instead of creatoing anothe Object.
# Lists, Tupples, dictionaries are examples for the Mutables.
# Lets see this with following list l1,l2,l3.
l1=[1,2,3,4]
l2=l1
l3=[1,2,3,4]
print l1,l2,l3

[1, 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]

In [18]:
# Lets print these l1,l2,l3 id's
# Here List l1 & l2 are pointing or refering to the same object in the memory
# Where as l3 is referring to the different object in the memory
# Here DUPLICATE Object is creating for l3 variable in the variable.
print id(l1),id(l2),id(l3)

140362469150016 140362469150016 140362354737448

In [26]:
# Lets enhance this with another example
# Here we will change the actual List value , which is already initialized and have allocated memory.
l1=[1,2,3,4]
l2=l1
l3=[1,2,3,4]
print l1,l2,l3

# Now I am modifying the l1 value
l1.append(10)
print l1,l2,l3

# Here we changed the value of l1. i.e we added another list item 10 inthe l1 by using appenr() function
# Then , the actual value of the l1 is changed from [1,2,3,4] from [1,2,3,4,10].
# Note : Here no NEW object is created . Insted it changed the existing object value in the memory.
# So when we change the l1 object value, the other variables which are pointing to the same object are also pointed to that changed value.
# Hence l1,l2 are refering to same object. i.e: l1=l2=[1,2,3,4,10]. Lists are Mutable.

[1, 2, 3, 4] [1, 2, 3, 4] [1, 2, 3, 4]
[1, 2, 3, 4, 10] [1, 2, 3, 4, 10] [1, 2, 3, 4]

In [43]:
# Lets check this with tupple
# Tupple is a Mutable type
t1={1,2,3,4}
t2=t1
t3={1,2,3,4}
print t1,t2,t3
print id(t1),id(t2),id(t3)

# Lets modify t1
t1={1,2,3,4,5,6}
print t1,t2,t3
print id(t1),id(t2),id(t3)

set([1, 2, 3, 4]) set([1, 2, 3, 4]) set([1, 2, 3, 4])
140362354808024 140362354808024 140362400610656
set([1, 2, 3, 4, 5, 6]) set([1, 2, 3, 4]) set([1, 2, 3, 4])
140362412018712 140362354808024 140362400610656

In [44]:
# Lets check this with Dictionary
# Dictionary is a Mutable Type
t1={1:"a",2:"b",3:"c",4:"d"}
t2=t1
t3={1:"a",2:"b",3:"c",4:"d"}
print t1,t2,t3
print id(t1),id(t2),id(t3)

# Lets modify t1
t1={1:"a",2:"b",3:"c",4:"d",5:"e",6:"f"}
print t1,t2,t3
print id(t1),id(t2),id(t3)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'} {1: 'a', 2: 'b', 3: 'c', 4: 'd'} {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
140362353198256 140362353198256 140362353198536
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e', 6: 'f'} {1: 'a', 2: 'b', 3: 'c', 4: 'd'} {1: 'a', 2: 'b', 3: 'c', 4: 'd'}
140362354744408 140362353198256 140362353198536

In [ ]:
# End of Python class-1 Practice