In [1]:
# Python is a Dynamic datatype programming language
# So We no need to specify the tpe of data.
# The datatype for the given data will be selected / performed automatically

print "dsfs
# Here we are getting Syntax Error , because we skipped the " (Quotaton mark) at the end of the String
# A String should always initialized by using Single Quotes ('Example') or Double Quotes ("Example")

SyntaxError: EOL while scanning string literal (<ipython-input-1-efb6e628815c>, line 1)

In [2]:
# Numbers are divided into two different types
# int, float

In [1]:
# Let as take two variables 'a' and 'b' and assign like below
a=10
b=20

In [5]:
# We can perform following arithmetical operations on the Number type variables
#Respectively-->Addition , Substraction . Multiplication,Division , Modulos , Number with Power caliculations
print a+b
print a-b
print a*b
print a/b
print a%2
print a**3

30
-10
200
0
0
1000

In [6]:
# Division with combination of an Integer with a float number , will always results the Float
print 10.0/20

0.5

In [7]:
# Division with combination of an Integer with a float number , will always results the Float
# and also weather if numerator or Denominator any one of is Float will results the Floats
print 10/20.0

0.5

In [8]:
a

10

In [9]:
b

20

In [10]:
# Adding  a dot to the Integer as shown below will not converts the Integer into float
# to convert an Integer type into Float type we need to use float() function
print a.0/b

SyntaxError: invalid syntax (<ipython-input-10-3ed08f715539>, line 1)

In [11]:
# to convert an Integer type intoFloat type we need to use float() function
print float(a)

10.0

In [12]:
# If we use float() function to the numerator or Denominator , the Division result is always a Float
print float(a)/b

0.5

In [13]:
# If we use float() function to the numerator or Denominator , the Division result is always a Float
print a/float(b)

0.5

In [14]:
# But if we apply the float() to the complete division operation, then the resulted value will be Rounded
# So It will be Rounded to the Nearest Integer value
print float(a/b) # 0 0.0 0.5 none

0.0

In [1]:
# This arithmetical operation will performe based on BODMAS Rule
# BODMAS Rule:
# B---> Bracket  ()
# O---> Of
# D---> Division (/)
# M---> Multiplication (*)
# A---> Addition  (+)
# S---> Substraction  (-)

print 10+20*10/3

76

In [16]:
a=10.23345

In [17]:
# Int() function will convers the given value into Integer type
# Incase of float number , int() function will removes the decimal point from the number
int(a)

10

In [18]:
# A String should always initialized by using Single Quotes ('Example') or Double Quotes ("Example")
a="python"
print a

python

In [19]:
# Here a="test" is a variablle , that is pointing to the String Object
# And "a" is Itself a String Object
a='python'
print "a"
print a

a
python

In [21]:
# Variable Naming Conventions:
#--> A variable  name should always start with an alphabet
#--> A variable name may contains underscore (_)
product_name = "Product1"

In [23]:
#--> A variable name should not contain Special chars other than underscore (_)
product$name = "product1"

SyntaxError: invalid syntax (<ipython-input-23-5871d0d8d4e8>, line 1)

In [24]:
#--> A variable name may contains Numbers
name1 = "dsfsd"

In [25]:
#--> A variable name should not start start a Number
1name = "dsfsdf"

SyntaxError: invalid syntax (<ipython-input-25-42198f4da272>, line 1)

In [26]:
#--> A variable name may contains Combination of Caps and small letters
SfdfFRT = "fdsf"

In [27]:
#Strings Concatination:
# Adding of one String value with the another string by using + (addition operator) is known as concatination
# String Cocatination will merge the given string values into One Single String
# We Can perform the String Concatination on Multiple Number of String values at a time.

s1="str1"
s2="str2"

In [30]:
# The following is an example for String Concatination for the two given strings 's1' and 's2'
print s1+s2

str1str2

In [31]:
# Substraction Operation of Stings is not possible
# There is no Such Operation like s1-s2 (It is not possible / Not Implemented) 
print s1-s2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [32]:
#Multiplication Operation of Stings is not possible
#There is no Such Operation like s1*s2 (It is not possible / Not Implemented) 
print s1*s2

TypeError: can't multiply sequence by non-int of type 'str'

In [34]:
#Division Operation of Stings is not possible
#There is no Such Operation like s1/s2 (It is not possible / Not Implemented) 
print s1/s2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [35]:
# Addition of String value with the Integer value will gives the TypeError
print "str1"+20

TypeError: cannot concatenate 'str' and 'int' objects

In [36]:
#And also, Addition of String value with the Float value will gives the TypeError
price=24.4
result = "product price: "+price

TypeError: cannot concatenate 'str' and 'float' objects

In [38]:
# But If you want to add a Sring value with the Integer (or) float value ,
# First we need to convert our  Integer (or) float value into String by using str() function
# This str() function will converts the given value into String type.
# In this way we can add the String value with the Integer or Float value
price=24.4
price_str = str(price)
result = "product price: "+price_str
print result

product price: 24.4

In [39]:
# If we add two Integers , that are Initialized as Strings (or) Converted to Strings,
# It will not performs the Normal Arithmeticl operation
# Then It will add the First number with the Second Number side by side as shown in the below example
# This is also known as String Concatination
s1="10"
s2="20"
print s1+s2

1020

In [40]:
# If we add these Strings (i.e Integers with String Format) By again convert them into the int,
# By using int() funcion, then it will performs the actual addition of that two Integers
print int(s1)+int(s2)

30

In [41]:
# If we add an Integers with the float that are Initialized as Strings (or) Converted to Strings,
# It will not performs the Normal Arithmeticl operation as well as String Concatination
# Instead it will throws an error. invalid literal for int() with base 10:

s1="10.23"
s2="20"
print int(s1)

ValueError: invalid literal for int() with base 10: '10.23'

In [42]:
# When we use the float() function on a value,then  we will gives that value with decimol point notation or format
print float(s1)

10.23

In [43]:
# But if we again converts this float value intoInteger type by using int() function,
# then the decimal point of the value will be removed
s3 = float(s1)
s4  =int(s3)

In [44]:
s4

10

In [45]:
# Here you can see, when we apply int() function to any Float Number, it will simply removes it's decimal point
int(10.23)

10

In [46]:
# If we try to convert a float number that is Initialized as String,  into Integer, by using int() function
# It will not converts the given float value into Integer,
# Instead it will throws an error. invalid literal for int() with base 10:
int("10.23")

ValueError: invalid literal for int() with base 10: '10.23'

In [49]:
# If we try to convert a AlphaNumeric  that is Initialized as String,  into Integer, by using int() function
# It will not converts the given AlphaNumeric value into Integer,
# Instead it will throws an error. invalid literal for int() with base 10:
int("123bacd")

ValueError: invalid literal for int() with base 10: '123bacd'

In [50]:
#Ipython: Ipython is intended for Learning Python
#If you want learn (or) Know about any funcion details,
# Just type the function name followed by Question mark (?)  in the ipython console and press Enter.
int?

In [51]:
# Int() function with empty value will gives the '0'
int()

0

In [53]:
# 12 Based Number System:
# a=12
# b=11
# c=10

int('abc',14)

2126

In [54]:
# For 12 Based Number System the int() function will converts the given value into Integer , by applying following formula
12*14**0+11*14**1+10*14**2

2126